@import url(variables.css);

.footer {
    width: 100%;
    min-height: 12vh;
    padding: 2em;

    border-top: 1px solid rgb(202, 202, 202);
    background-color: var(--backgroundColor);
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

.footer-data {
    display: flex;
    flex-flow: column wrap;
}

.footer-data-title {
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-data-content {
    font-weight: 300;
}

.footer-data-content-icons {
    font-size: 1.5em;
    display: inline-block;
}

/* MEDIA QUERY */

@media screen and (max-width: 1000px) {
    .footer {
        flex-flow: column nowrap;

    }
    .footer-data {
        align-items: center;
    }
}