@import url(variables.css);

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    gap: 1em;
    border-top: 1px solid rgb(202, 202, 202);
}

.footer-data {
    display: flex;
    flex-flow: column wrap;
}

.footer-data-title {
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-data-content {
    font-weight: 300;
}

/* MEDIA QUERY */

@media screen and (max-width: 1000px) {
    .footer-data {
        align-items: center;
    }
}